<form method="get" action="{% url 'search' %}" class="mt-5 mb-3">
    <div class="input-group">
        <input type="text" name="q" placeholder="search..." value="{{ query }}" maxlength="20" class="form-control" style="height: auto;">
        <select name="type" class="form-select" style="max-width: 100px;">
            <option value="song" {% if search_type == 'song' %}selected{% endif %}>song</option>
            <option value="artist" {% if search_type == 'artist' %}selected{% endif %}>artist</option>
        </select>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>